<form>
  <label for="photo_title">Title</label>
  <input
     id="photo_title"
     name="photo[title]"
     type="text">

  <label for="photo_url">URL</label>
  <input
     id="photo_url"
     name="photo[url]"
     type="text">

  <input type="submit" value="Create Photo!">
</form>
